tmp
*.o
*.a
*.so
*.cm[oiax]
*.cmx[as]
*.annot
cudd_ocamldoc.mli
META
Makefile.config
Makefile.depend
add.ml
add.mli
add_caml.c
bdd.ml
bdd.mli
bdd_caml.c
cache.ml
cache.mli
cache_caml.c
custom.ml
custom.mli
custom_caml.c
hash.ml
hash.mli
hash_caml.c
man.ml
man.mli
man_caml.c
memo.ml
memo.mli
memo_caml.c
vdd.ml
vdd.mli
vdd_caml.c
/cuddsrc-*
/cuddbld-*
autom4te.cache
_opam/
.vscode/